openapi: 3.2.0
info:
  title: Abstract Timezone Current Time API
  description: 'Look up the current time, date, and timezone for any location, and convert a time and date between two locations. A location may be given as a place name, latitude/longitude coordinates, or an IP address. Authenticate with your API key as the `api_key` query parameter, or as an `Authorization: Bearer ` header. GET and POST (form-encoded or JSON) are both supported.'
  version: 1.0.0
  termsOfService: https://www.abstractapi.com/legal/legal
  contact:
    name: Abstract API
    url: https://www.abstractapi.com/api/time-date-timezone-api
  license:
    name: Commercial — see Terms of Service
    url: https://www.abstractapi.com/legal/legal
servers:
- url: https://timezone.abstractapi.com/v1
security:
- ApiKeyQuery: []
- BearerAuth: []
tags:
- name: Current Time
paths:
  /current_time:
    get:
      operationId: getCurrentTime
      summary: Get the current time and timezone for a location
      parameters:
      - name: location
        in: query
        required: true
        description: The location to look up. Accepts a place name, latitude/longitude coordinates, or an IP address.
        schema:
          type: string
        example: Oxford, United Kingdom
      responses:
        '200':
          description: Current time, date, and timezone details for the location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentTime'
              example:
                datetime: '2023-06-21 19:40:49'
                timezone_name: British Summer Time
                timezone_location: Europe/London
                timezone_abbreviation: BST
                gmt_offset: 1
                is_dst: true
                requested_location: Oxford,United Kingdom
                latitude: 51.7520131
                longitude: -1.2578499
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
      - Current Time
    post:
      operationId: postCurrentTime
      summary: Get the current time and timezone for a location
      description: 'Same as the GET operation. The API key may be supplied in the request body, as the `api_key` query parameter, or as an `Authorization: Bearer ` header.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CurrentTimeRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/CurrentTimeRequest'
      responses:
        '200':
          description: Current time, date, and timezone details for the location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CurrentTime'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
      tags:
      - Current Time
components:
  responses:
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: Invalid API key provided.
              code: unauthorized
              details: null
    ServerError:
      description: Internal server error. The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    BadRequest:
      description: Bad request — a required parameter is missing or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: A validation error occurred.
              code: validation_error
              details:
                location:
                - This is a required argument.
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded. The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    QuotaReached:
      description: Unprocessable — monthly quota reached or insufficient API credits. The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - message
          - code
          properties:
            message:
              type: string
              description: Human-readable description of the error.
              example: A validation error occurred.
            code:
              type: string
              description: Machine-readable error code, e.g. validation_error or unauthorized.
              example: validation_error
            details:
              type:
              - object
              - 'null'
              description: Field-keyed validation messages for validation_error responses; null for other error types.
              additionalProperties:
                type: array
                items:
                  type: string
    TimeLocation:
      type: object
      description: Time, date, and timezone details for a single resolved location.
      properties:
        datetime:
          type:
          - string
          - 'null'
          description: Date and time at the location, in `YYYY-MM-DD HH:MM:SS` format.
          example: '2023-06-21 19:40:49'
        timezone_name:
          type:
          - string
          - 'null'
          description: Name of the timezone, drawn from the IANA Time Zone Database.
          example: British Summer Time
        timezone_location:
          type:
          - string
          - 'null'
          description: IANA Time Zone Database location identifier.
          example: Europe/London
        timezone_abbreviation:
          type:
          - string
          - 'null'
          description: Timezone abbreviation, drawn from the IANA Time Zone Database.
          example: BST
        gmt_offset:
          type:
          - integer
          - 'null'
          description: Offset from Greenwich Mean Time, in hours.
          example: 1
        is_dst:
          type:
          - boolean
          - 'null'
          description: Whether Daylight Saving Time is in effect at the location.
          example: true
        requested_location:
          type: string
          description: The location string echoed back from the request.
          example: Oxford,United Kingdom
        latitude:
          type:
          - number
          - 'null'
          format: float
          description: Decimal latitude of the resolved location.
          example: 51.7520131
        longitude:
          type:
          - number
          - 'null'
          format: float
          description: Decimal longitude of the resolved location.
          example: -1.2578499
    CurrentTimeRequest:
      type: object
      required:
      - location
      properties:
        location:
          type: string
          description: The location to look up. Accepts a place name, latitude/longitude coordinates, or an IP address.
          example: Oxford, United Kingdom
        api_key:
          type: string
          description: 'Your API key. Optional here if supplied as the `api_key` query parameter or an `Authorization: Bearer <key>` header.'
    CurrentTime:
      allOf:
      - $ref: '#/components/schemas/TimeLocation'
      description: Current time, date, and timezone details for the requested location.
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Your unique Timezone API key.
    BearerAuth:
      type: http
      scheme: bearer
      description: Send your API key as a Bearer token; omit `api_key` from the query string.
externalDocs:
  description: Official documentation
  url: https://docs.abstractapi.com/api/timezones
