openapi: 3.0.3
info:
  title: Abstract API - Public Holidays API
  description: Get public, local, religious, and other holidays for any country. Supports year and country filtering with comprehensive holiday metadata.
  version: 1.0.0
  contact:
    url: https://www.abstractapi.com/
  x-generated-from: documentation
servers:
  - url: https://holidays.abstractapi.com/v1
    description: Public Holidays API v1
security:
  - apiKey: []
tags:
  - name: Public Holidays
    description: Holiday lookup operations
paths:
  /:
    get:
      operationId: getPublicHolidays
      summary: Abstract API Get Public Holidays
      description: Retrieve public, local, religious, and other holidays for a given country and optional date filter.
      tags:
        - Public Holidays
      parameters:
        - name: api_key
          in: query
          required: true
          description: Your unique API key for the Public Holidays API.
          schema:
            type: string
          example: abc123def456
        - name: country
          in: query
          required: true
          description: ISO 3166-1 alpha-2 two-letter country code.
          schema:
            type: string
          example: US
        - name: year
          in: query
          required: false
          description: Year to query (required on free plan). Defaults to current year on paid.
          schema:
            type: string
          example: '2026'
        - name: month
          in: query
          required: false
          description: Month to query (1-12, required on free plan). Defaults to current month.
          schema:
            type: string
          example: '4'
        - name: day
          in: query
          required: false
          description: Day to query (1-31, required on free plan). Defaults to current day.
          schema:
            type: string
          example: '19'
      responses:
        '200':
          description: List of public holidays
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Holiday'
              examples:
                getPublicHolidays200Example:
                  summary: Default getPublicHolidays 200 response
                  x-microcks-default: true
                  value:
                    - name: Easter Sunday
                      name_local: Easter Sunday
                      language: EN
                      description: Easter Sunday marks the resurrection of Jesus Christ
                      country: US
                      location: ''
                      type: National
                      date: 04/20/2025
                      date_year: '2025'
                      date_month: '04'
                      date_day: '20'
                      week_day: Sunday
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: api_key
  schemas:
    Holiday:
      type: object
      description: A public holiday entry
      properties:
        name:
          type: string
          description: Holiday name in English
          example: Easter Sunday
        name_local:
          type: string
          description: Holiday name in local language
          example: Paques
        language:
          type: string
          description: Language of the local name
          example: FR
        description:
          type: string
          description: Additional details about the holiday
          example: Easter Sunday marks the resurrection of Jesus Christ
        country:
          type: string
          description: Country code
          example: US
        location:
          type: string
          description: Specific region where holiday applies
          example: ''
        type:
          type: string
          description: Holiday classification
          example: National
          enum:
            - National
            - Local
            - Religious
            - Observance
            - Season
            - Clock Change/Daylight Saving Time
        date:
          type: string
          description: Holiday date in MM/DD/YYYY format
          example: 04/20/2025
        date_year:
          type: string
          description: Year of the holiday
          example: '2025'
        date_month:
          type: string
          description: Month of the holiday
          example: '04'
        date_day:
          type: string
          description: Day of the holiday
          example: '20'
        week_day:
          type: string
          description: Day of the week
          example: Sunday
    ErrorResponse:
      type: object
      properties:
        message:
          type: string
          example: The provided API key is invalid
        error:
          type: string
          example: invalid_api_key
