openapi: 3.0.3
info:
  title: Abstract Exchange Rates API
  description: 'Get live, convert, and historical foreign-exchange and cryptocurrency
    rates for 80+ fiat and cryptocurrency rates (fiat uses ISO 4217 codes) in a single
    request. Authenticate with your API key as the `api_key` query parameter, or as
    an `Authorization: Bearer <key>` header. GET and POST (form-encoded or JSON) are
    both supported.'
  version: 1.0.0
  termsOfService: https://www.abstractapi.com/legal/legal
  contact:
    name: Abstract API
    url: https://www.abstractapi.com/api/exchange-rate-api
  license:
    name: Commercial — see Terms of Service
    url: https://www.abstractapi.com/legal/legal
externalDocs:
  description: Official documentation
  url: https://docs.abstractapi.com/api/exchange-rates
servers:
- url: https://exchange-rates.abstractapi.com/v1
security:
- ApiKeyQuery: []
- BearerAuth: []
paths:
  /live:
    get:
      operationId: getLiveExchangeRates
      summary: Get the most recent exchange rates for a base currency
      parameters:
      - name: base
        in: query
        required: true
        description: The base currency to get the latest exchange rate(s) for. Uses
          the ISO 4217 currency standard.
        schema:
          type: string
        example: USD
      - name: target
        in: query
        required: false
        description: The target currency or currencies to get the exchange rate of
          versus the base currency. Multiple targets may be supplied as a comma-separated
          list. If omitted, rates for all supported currencies are returned.
        schema:
          type: string
        example: EUR,CAD,AUD
      responses:
        '200':
          description: The most recent exchange rates for the requested base currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRates'
              example:
                base: USD
                last_updated: 1716297300
                exchange_rates:
                  EUR: 0.923361
                  JPY: 156.54663
                  GBP: 0.78638
                  CAD: 1.367498
                  AUD: 1.50397
                  BTC: 0.000023
                  ETH: 0.000392
                  DOGE: 12.544233
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: postLiveExchangeRates
      summary: Get the most recent exchange rates for a base currency
      description: 'Same as the GET operation. The API key may be supplied in the request
        body, as the `api_key` query parameter, or as an `Authorization: Bearer <key>`
        header.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/LiveRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/LiveRequest'
      responses:
        '200':
          description: The most recent exchange rates for the requested base currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LiveRates'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /convert:
    get:
      operationId: getConvertExchangeRate
      summary: Convert an amount from one currency to another
      parameters:
      - name: base
        in: query
        required: true
        description: The base (source) currency to convert from. Uses the ISO 4217
          currency standard.
        schema:
          type: string
        example: USD
      - name: target
        in: query
        required: true
        description: The target (destination) currency to convert to. Uses the ISO
          4217 currency standard. A single target is accepted.
        schema:
          type: string
        example: EUR
      - name: date
        in: query
        required: false
        description: The historical date to get the conversion rate from, in YYYY-MM-DD
          format. If omitted, the most recent rate is used.
        schema:
          type: string
          format: date
        example: '2024-01-01'
      - name: base_amount
        in: query
        required: false
        description: The amount of the base currency to convert to the target currency.
          Defaults to 1 when omitted.
        schema:
          type: number
          format: float
        example: 100
      responses:
        '200':
          description: The converted amount and the exchange rate used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
              example:
                base: USD
                target: EUR
                base_amount: 1
                converted_amount: 0.923361
                exchange_rate: 0.923361
                last_updated: 1716297300
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: postConvertExchangeRate
      summary: Convert an amount from one currency to another
      description: 'Same as the GET operation. The API key may be supplied in the request
        body, as the `api_key` query parameter, or as an `Authorization: Bearer <key>`
        header.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ConvertRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/ConvertRequest'
      responses:
        '200':
          description: The converted amount and the exchange rate used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
  /historical:
    get:
      operationId: getHistoricalExchangeRates
      summary: Get exchange rates for a base currency on a past date
      description: Functions like the live endpoint but requires a date. Returns the
        exchange rates for the requested base currency on the given historical date.
        This endpoint is currently in closed beta.
      parameters:
      - name: base
        in: query
        required: true
        description: The base currency to get the historical exchange rate(s) for.
          Uses the ISO 4217 currency standard.
        schema:
          type: string
        example: USD
      - name: date
        in: query
        required: true
        description: The historical date to get rates from, in YYYY-MM-DD format.
        schema:
          type: string
          format: date
        example: '2024-01-01'
      - name: target
        in: query
        required: false
        description: The target currency or currencies to get the exchange rate of
          versus the base currency. Multiple targets may be supplied as a comma-separated
          list. If omitted, rates for all supported currencies are returned.
        schema:
          type: string
        example: EUR,CAD,AUD
      responses:
        '200':
          description: The exchange rates for the requested base currency on the given
            date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRates'
              example:
                base: USD
                date: '2024-01-01'
                exchange_rates:
                  EUR: 0.912742
                  JPY: 142.095655
                  GBP: 0.790845
                  CAD: 1.329409
                  AUD: 1.473804
                  CHF: 0.849306
                  CNY: 7.143483
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: postHistoricalExchangeRates
      summary: Get exchange rates for a base currency on a past date
      description: 'Same as the GET operation. The API key may be supplied in the request
        body, as the `api_key` query parameter, or as an `Authorization: Bearer <key>`
        header. This endpoint is currently in closed beta.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HistoricalRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/HistoricalRequest'
      responses:
        '200':
          description: The exchange rates for the requested base currency on the given
            date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HistoricalRates'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Your unique Exchange Rates API key.
    BearerAuth:
      type: http
      scheme: bearer
      description: Send your API key as a Bearer token; omit `api_key` from the query
        string.
  responses:
    BadRequest:
      description: Bad request — a required parameter is missing or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: A validation error occurred.
              code: validation_error
              details:
                base:
                - This is a required argument.
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: Invalid API key provided.
              code: unauthorized
              details: null
    QuotaReached:
      description: Unprocessable — monthly quota reached or insufficient API credits.
        The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded. The body follows the standard
        error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal server error. The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    LiveRequest:
      type: object
      required:
      - base
      properties:
        base:
          type: string
          description: The base currency to get the latest exchange rate(s) for. Uses
            the ISO 4217 currency standard.
          example: USD
        target:
          type: string
          description: The target currency or currencies versus the base currency,
            as a comma-separated list. If omitted, all supported currencies are returned.
          example: EUR,CAD,AUD
        api_key:
          type: string
          description: 'Your API key. Optional here if supplied as the `api_key` query
            parameter or an `Authorization: Bearer <key>` header.'
    ConvertRequest:
      type: object
      required:
      - base
      - target
      properties:
        base:
          type: string
          description: The base (source) currency to convert from. Uses the ISO 4217
            currency standard.
          example: USD
        target:
          type: string
          description: The target (destination) currency to convert to. Uses the ISO
            4217 currency standard. A single target is accepted.
          example: EUR
        date:
          type: string
          format: date
          description: The historical date to get the conversion rate from, in YYYY-MM-DD
            format. If omitted, the most recent rate is used.
          example: '2024-01-01'
        base_amount:
          type: number
          format: float
          description: The amount of the base currency to convert to the target currency.
            Defaults to 1 when omitted.
          example: 100
        api_key:
          type: string
          description: 'Your API key. Optional here if supplied as the `api_key` query
            parameter or an `Authorization: Bearer <key>` header.'
    HistoricalRequest:
      type: object
      required:
      - base
      - date
      properties:
        base:
          type: string
          description: The base currency to get the historical exchange rate(s) for.
            Uses the ISO 4217 currency standard.
          example: USD
        date:
          type: string
          format: date
          description: The historical date to get rates from, in YYYY-MM-DD format.
          example: '2024-01-01'
        target:
          type: string
          description: The target currency or currencies versus the base currency,
            as a comma-separated list. If omitted, all supported currencies are returned.
          example: EUR,CAD,AUD
        api_key:
          type: string
          description: 'Your API key. Optional here if supplied as the `api_key` query
            parameter or an `Authorization: Bearer <key>` header.'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - message
          - code
          properties:
            message:
              type: string
              description: Human-readable description of the error.
              example: A validation error occurred.
            code:
              type: string
              description: Machine-readable error code, e.g. validation_error or unauthorized.
              example: validation_error
            details:
              type: object
              nullable: true
              description: Field-keyed validation messages for validation_error responses;
                null for other error types.
              additionalProperties:
                type: array
                items:
                  type: string
    LiveRates:
      type: object
      properties:
        base:
          type: string
          description: The base currency the rates are quoted against (echoes the request).
          example: USD
        last_updated:
          type: integer
          nullable: true
          description: Unix timestamp (seconds) of when the rates were last updated;
            null when unavailable.
          example: 1716297300
        exchange_rates:
          type: object
          description: Map of ISO 4217 currency code to its exchange rate versus the
            base currency.
          additionalProperties:
            type: number
            nullable: true
          example:
            EUR: 0.923361
            GBP: 0.78638
            BTC: 0.000023
    Conversion:
      type: object
      properties:
        base:
          type: string
          description: The base (source) currency (echoes the request).
          example: USD
        target:
          type: string
          description: The target (destination) currency (echoes the request).
          example: EUR
        base_amount:
          type: number
          format: float
          description: The amount of the base currency that was converted.
          example: 1
        converted_amount:
          type: number
          format: float
          nullable: true
          description: The resulting amount in the target currency; null when it cannot
            be computed.
          example: 0.923361
        exchange_rate:
          type: number
          format: float
          nullable: true
          description: The exchange rate used for the conversion; null when unavailable.
          example: 0.923361
        date:
          type: string
          format: date
          nullable: true
          description: The date the rates were pulled from (present when a date was
            requested); echoes the request.
          example: '2024-01-01'
        last_updated:
          type: integer
          nullable: true
          description: Unix timestamp (seconds) of when the rate was last updated;
            null when unavailable.
          example: 1716297300
    HistoricalRates:
      type: object
      properties:
        base:
          type: string
          description: The base currency the rates are quoted against (echoes the request).
          example: USD
        date:
          type: string
          format: date
          description: The historical date the rates are for (echoes the request),
            in YYYY-MM-DD format.
          example: '2024-01-01'
        exchange_rates:
          type: object
          description: Map of ISO 4217 currency code to its exchange rate versus the
            base currency on the requested date.
          additionalProperties:
            type: number
            nullable: true
          example:
            EUR: 0.912742
            GBP: 0.790845
            CAD: 1.329409
