openapi: 3.0.3
info:
  title: Abstract IBAN Validation API
  description: 'Validate an International Bank Account Number (IBAN) in a single request.
    The API checks the IBAN structure and check digits and returns whether it is valid.
    Whitespace in the IBAN is accepted, so `BE71 0961 2345 6769` is treated the same
    as `BE71096123456769`. Authenticate with your API key as the `api_key` query parameter,
    or as an `Authorization: Bearer <key>` header. GET and POST (form-encoded or JSON)
    are both supported.'
  version: 1.0.0
  termsOfService: https://www.abstractapi.com/legal/legal
  contact:
    name: Abstract API
    url: https://www.abstractapi.com/api/iban-validation-api
  license:
    name: Commercial — see Terms of Service
    url: https://www.abstractapi.com/legal/legal
externalDocs:
  description: Official documentation
  url: https://docs.abstractapi.com/api/iban-validation
servers:
- url: https://ibanvalidation.abstractapi.com/v1
security:
- ApiKeyQuery: []
- BearerAuth: []
paths:
  /:
    get:
      operationId: getIbanValidation
      summary: Validate an IBAN
      parameters:
      - name: iban
        in: query
        required: true
        description: 'The IBAN to validate. Whitespace is accepted, so `BE71 0961 2345
          6769` is considered as valid as `BE71096123456769`.'
        schema:
          type: string
        example: BE71096123456769
      responses:
        '200':
          description: Validation result for the submitted IBAN.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanValidation'
              example:
                iban: BE71096123456769
                is_valid: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
    post:
      operationId: postIbanValidation
      summary: Validate an IBAN
      description: 'Same as the GET operation. The API key may be supplied in the request
        body, as the `api_key` query parameter, or as an `Authorization: Bearer <key>`
        header.'
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/IbanValidationRequest'
          application/json:
            schema:
              $ref: '#/components/schemas/IbanValidationRequest'
      responses:
        '200':
          description: Validation result for the submitted IBAN.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanValidation'
              example:
                iban: BE71096123456769
                is_valid: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          $ref: '#/components/responses/QuotaReached'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/ServerError'
components:
  securitySchemes:
    ApiKeyQuery:
      type: apiKey
      in: query
      name: api_key
      description: Your unique IBAN Validation API key.
    BearerAuth:
      type: http
      scheme: bearer
      description: Send your API key as a Bearer token; omit `api_key` from the query
        string.
  responses:
    BadRequest:
      description: Bad request — a required parameter is missing or failed validation.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: A validation error occurred.
              code: validation_error
              details:
                iban:
                - This is a required argument.
    Unauthorized:
      description: Unauthorized — missing or invalid API key.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error:
              message: Invalid API key provided.
              code: unauthorized
              details: null
    QuotaReached:
      description: Unprocessable — monthly quota reached or insufficient API credits.
        The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too Many Requests — rate limit exceeded. The body follows the standard
        error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    ServerError:
      description: Internal server error. The body follows the standard error envelope.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  schemas:
    IbanValidationRequest:
      type: object
      required:
      - iban
      properties:
        iban:
          type: string
          description: 'The IBAN to validate. Whitespace is accepted, so `BE71 0961
            2345 6769` is considered as valid as `BE71096123456769`.'
          example: BE71096123456769
        api_key:
          type: string
          description: 'Your API key. Optional here if supplied as the `api_key` query
            parameter or an `Authorization: Bearer <key>` header.'
    Error:
      type: object
      required:
      - error
      properties:
        error:
          type: object
          required:
          - message
          - code
          properties:
            message:
              type: string
              description: Human-readable description of the error.
              example: A validation error occurred.
            code:
              type: string
              description: Machine-readable error code, e.g. validation_error or unauthorized.
              example: validation_error
            details:
              type: object
              nullable: true
              description: Field-keyed validation messages for validation_error responses;
                null for other error types.
              additionalProperties:
                type: array
                items:
                  type: string
    IbanValidation:
      type: object
      properties:
        iban:
          type: string
          description: The IBAN submitted for validation.
          example: BE71096123456769
        is_valid:
          type: boolean
          nullable: true
          description: True if the submitted IBAN is valid, false if it is not. May
            be null if the API cannot determine validity.
          example: true
